.gradle
/local.properties
.DS_Store
/build
/captures

# Windows thumbnail db
Thumbs.db

# Android Studio
*.iml
/.idea
#/.idea/workspace.xml
#/.idea/libraries
*.iml
.idea/.name
.idea/gradle.xml
.idea/compiler.xml
.idea/misc.xml
app/app.iml